<!-- <h1>Password generator</h1>
<div>
  <label>Length</label>
  <input (input)="onLengthchange($any($event.target).value)"/>
</div>
<div>
  <input type="checkbox" (change)="onLetterchange()"/>
  <label>Use Letters</label>
</div>
<div>
  <input type="checkbox" (change)="onNumberchange()" />
  <label>Use Numbers</label>
</div>
<div>
  <input type="checkbox" (change)="onSymbolchange()" />
  <label>Use Symbols</label>
</div>
<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers ||includeSymbols))"
  class="btn btn-warning"
   (click)="onButtonClick()"
   >
   Generate</button>
</div>
<div *ngIf="password">
  <label>Your password</label>
  <input [value]="password"/>
</div> -->

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
<body translate="no">
<div class="container">
  <h2>Password Generator</h2>
  <div class="result-container">
    <input id="result" [value]="password"/>
  </div>
  <div class="settings">
      <div class="setting">
          <label>Password length</label>
          <input class="new" (input)="onLengthchange($any($event.target).value)"/>
      </div>
      <div class="setting">
          <label>Include letters</label>
          <input type="checkbox" (change)="onLetterchange()"/>
      </div>
      <div class="setting">
          <label>Include numbers</label>
          <input type="checkbox" (change)="onNumberchange()" />
      </div>
      <div class="setting">
          <label>Include symbols</label>
          <input type="checkbox" (change)="onSymbolchange()" />
      </div>
  </div>
  <button [disabled]="!(includeLetters || includeNumbers ||includeSymbols)"
  class="btn btn-large" 
   (click)="onButtonClick()"
   >
   Generate</button>
</div>
</body>